<ion-view view-title="SafeInga">
    <ion-content padding="true">
        <h2>Qual bairro onde você mora?</h2>
        <ion-list>
            <ion-radio ng-repeat="bairro in bairros" ng-value="{{bairro.id}}" ng-click="addBairro({{bairro.id}})">
                {{bairro.nome}}
            </ion-radio>
        </ion-list>
    </ion-content>
    <div class="bar bar-footer bar-positive footer-button">
        <a class="button button-full button-clear" ng-click="confirmarEnderecoUsuario()" ng-disabled="!usuario.bairro">
            Próximo
        </a>
    </div>
</ion-view>
