<ion-view view-title="SafeInga">
    <ion-content class="has-header">
        <h1>Qual bairro onde você mora?</h1>
        <ion-list>
            <ion-radio ng-repeat="bairro in bairros" ng-value="{{bairro.id}}" ng-model="usuario.bairro">
                {{bairro.nome}}
            </ion-radio>
        </ion-list>
    </ion-content>
    <div class="bar bar-footer">
        <button class="button button-full button-positive button-large" ng-click="confirmarEnderecoUsuario()">Próximo
        </button>
    </div>
</ion-view>
