<ion-view view-title="SafeInga">
    <ion-content padding="true">
        <h2 class="title">Selecione outros bairros de interesse (opcional)</h2>
        <ion-list>
            <ion-checkbox ng-repeat="bairro in bairros" ng-click="addBairros({{bairro.id}})">{{bairro.nome}}
            </ion-checkbox>
        </ion-list>
    </ion-content>
    <div class="bar bar-footer bar-positive footer-button">
        <a class="button button-full button-clear" ng-click="confirmarEnderecosInteresse()">Finalizar</a>
    </div>
</ion-view>
