<ion-view view-title="SafeInga">
  <ion-nav-bar class="bar-balanced">
    <ion-nav-back-button>SafeInga</ion-nav-back-button>
  </ion-nav-bar>
  <div class="bar bar-subheader">
    <h2 class="title">Selecione seu endereço</h2>
  </div>
  <ion-content>
    <ion-list>
    <ion-radio ng-repeat="bairro in bairros">{{bairro.nome}}</ion-radio>
    </ion-list>

    <ion-footer-bar class="bar-balanced">
      <button class="button-block button-balanced" ng-click="confirmarEnderecoUsuario()">Confirmar</button>
    </ion-footer-bar>


  </ion-content>
</ion-view>
